.header{
    background-image: url(images.header.png);
    background-repeat: no-repeat;
    height: 550px;
}
.first_row{
    margin-top: 20px;
    margin-left: 80px;
}

.navbar li{
    margin-right: 15px;
}
.navbar li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.second_row{
    margin-top: 100px;
    margin-left: 100px;
}
.second_row h2,.second_row p{
    color: white;
}
.second_row h2{
    font-size: 30px;
}
.second_row p{
    font-size: 20px;
    font-family: roboto;
    width: 85%;
}
.order_now{
    height: 60px;
    width: 250px;
    background-color: #a4b9be;
    color: white;
    display: inline-block;
    font-size: 22px;
    padding: 12px;
    margin-top: 20px;
}
.order_now:hover{
    text-decoration: none;
    color: white;
}

.start{
    height: 400px;
    padding-top: 80px;
    margin-left: 100px;
}
.start p{
    color: #9fa4a7 ;
    font-size: 20px;
    width: 88%;
}
.start h2{
    color: #535a5e;
    font-size: 32px;
    font-weight: bold;
}
.work{
    height: 700px;
    background-color: #a4b9be;
    color: white;
    padding-top: 50px;
}
.work h2{
    font-size: 32px;
}
.work p{
    font-size: 20px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
}
.work img{
    height: 455px;
    width: 870px;
    margin-left: 12%;
}

.price{
    height: 850px;
    background-color: white;
}
.price p{
    color: #98a0a5;
    font-size: 20px;
}
.price h2{
    font-size: 32px;
    color: #535a5e;
    padding-top: 50px;
}

.price_table{
    width: 30%;
    margin-right: 3%;
    margin-top: 50px;
    float: left;
}

.price_table li{
    height: 75px;
    color:  #535a5e;
    padding-top: 15px;
    font-size: 18px;
    background-color: #e9eef2;
}

.price_table li:first-child{
    color: white;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
}
.price_table li:nth-child(2){
    font-weight: bold;
}

.free li:first-child{
     background-color: #535a5e;
    padding-top: 20px;
}

.price_table_btn{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    background-color: #535a5e;
    display: inline-block;
    border-radius: 5px;
    color: white;
}

.price_table_btn:hover{
    color: white;
    text-decoration: none;
}

.contact{
    background-color: #2d3035 ;
    height: 730px;
    padding-top: 50px;
}
.contact h2{
    color: white;
}
.contact p{
    color: #98a0a5;
    font-size: 20px;
}

.form_input{
    width: 100%;
    border: 2px solid white;
    background-color: #2d3035;
    margin-top: 20px;
    height: 55px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.textarea{
    height: 110px;
    padding-top: 20px;
}

.send_btn{
    background-color: #a4b9be;
    width: 100%;
    height: 60px;
    text-align: center;
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
